@import "./_variables";
@import "./_functions";
.text{ //example
    color: $textColor;
    //or, but use the below for the most part
    @include setColor($textColor);
}

.formContainer{
    width: 500px;
    height: 600px;
    border-radius: 50px;
    background-color: #ee11ee;
}

